{% extends "base/base.html" %}
{% from "macros/event_card.html" import event_card %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/view.css') }}">
{% endblock %}
{% block title %}Event Timeline{% endblock %}

{% block content %}

<h2>Event Timeline</h2>

<div class="timeline">

    {% for date, events in grouped.items() %}

    <h3 style="margin-top: 30px;">{{ date.strftime('%A %d %B %Y') }}</h3>



    <div class="event-products-summary mt-5">
        {% for event in events %}
        {{ event_card(event) }}
        {% endfor %}
    </div>


</div>
{% endfor %}


</div>

{% endblock %}