{% extends 'base/base.html' %}
{% from "macros/event_card.html" import event_card with context %}
<!-- Main Content -->
{% block title %} Add Product to event{% endblock %}
{% block content %}
<section id="form-section">
    {% for ep in event_products %}
    <p>Product Name: {{ ep.product.name }}</p>
    <p>Times: {{ ep.start_time }} to {{ ep.end_time }}</p>
    {% endfor %}
    <p>
        Adding Product
        at <strong>{{ event.venue_ref.name }}</strong>
        for <strong>{{ event.client_ref.name }}</strong>
        at <strong>{{ event.client_ref.company.name }}</strong>.
    </p>

    <p>
        <small>
            (Event: {{ event.event_name or "Unnamed Event" }} — {{ event.date }})
        </small>
    </p>
    <form method="POST" action="">
        {{ form.hidden_tag() }}

        {% for field in form if field.type != "SubmitField" %}
        <div class="form-group">
            {{ field.label }}
            {{ field(class="form-control timepicker", autocomplete="off") }}

            {% if field.errors %}
            <ul class="errors">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-secondary" name="save_product">
            Save Product
        </button>
    </form>



    <div class="event-products-summary mt-5">
        {% if event %}
        {{ event_card(event) }}
        {% endif %}
    </div>

    {% block extra_js %}
    <script src="{{ url_for('static', filename='js/create/flatpickr_init.js') }}"></script>
    <script src="{{ url_for('static', filename='js/create/event_product.js') }}"></script>
    {% endblock %}
</section>
{% endblock %}
