{% extends "base/base.html" %}

{% block content %}
<h2>Create</h2>

<div class="create-container">
    <a href="{{ url_for('create.event') }}" class="create-card">Create Event</a>
    <a href="{{ url_for('create.company') }}" class="create-card">Create Company</a>
    <a href="{{ url_for('create.client') }}" class="create-card">Create Client</a>
    <a href="{{ url_for('create.venue') }}" class="create-card">Create Venue</a>
    <a href="{{ url_for('create.vehicle') }}" class="create-card">Create Vehicle</a>
    <a href="{{ url_for('create.product') }}" class="create-card">Create Product</a>
    <a href="{{ url_for('create.product_extra') }}" class="create-card">Create Product Extra</a>
    <a href="{{ url_for('create.skill') }}" class="create-card">Create Skills</a>


    <a href="#" class="create-card">Create Staff Member</a>


</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
{% endblock %}

