{% from "macros/product_card.html" import product_card %}

{% macro event_card(event) %}
<div class="card shadow-sm mb-4">

    <!-- Header -->
    <div class="card-body border-bottom">
        <h4 class="mb-1">
            {{ event.event_name or (event.client_ref.company.name ~ " Event") }}
        </h4>

        <span class="status-badge {{ STATUS_COLOURS[event.status.value] }}">
            {{ event.status.value }}
        </span>


        <p class="text-muted mb-0">
            {{ event.client_ref.company.name }}
            {{ event.client_ref.name }} · {{ event.venue_ref.name }}
        </p>

        <p class="text-muted small mt-1">
            Created by:
            {{ event.created_by_name }}
            {% if event.enquiry_date %}
            {{ event.enquiry_date.strftime("%d %b %Y %H:%M") }}
            {% else %}
            {% endif %}
        </p>
        <p class="text-muted small mt-1">
            Created by:
            {% if event.created_by and event.created_by.staff %}
            {{ event.created_by.staff.name }}
            {% else %}
            Unknown
            {% endif %}

        </p>

    </div>

    <!-- Products -->
    <div class="card-body">

        <h5 class="mb-3">Products</h5>

        {% for ep in event.event_products %}
        {{ product_card(ep) }}
        {% else %}
        <p class="text-muted">No products added yet.</p>
        {% endfor %}

    </div>

</div>
{% endmacro %}